<html lang="en-US">
<head>
  <meta charset="utf-8">
  <base target="_top">
  <title>LEGO Technic - Bionicle - Support</title>
  <meta name="KeyWords" content="">

  <meta name="description" content="LEGO TECHNIC presents Bionicle, a new line of products with an epic story that will unfold on Bionicle.com. Once a paradise, Mata Nui has become a place of darkness and fear, ruled by the deadly Makuta. Now six mighty warriors, the Toa, have come to gather Masks of Power and challenge Makuta. Explore the island... learn the legends... and begin to solve the mystery of Bionicle.">
  
	<link rel="stylesheet" type="text/css" href="styles/lego.css">
	<link rel="stylesheet" type="text/css" href="styles/navigation.css">
	<link REL="SHORTCUT ICON" HREF="favicon.ico">    
  

<script language="javascript">
<!--

function templatehover(imgname,action)
{
  if (document.images)
  {
    document[imgname].src = eval(imgname + action + ".src");
  }
}

//-->
</script>




   <style type="text/css">
    <!--
      body {
         background-color: #000000; background-image: url(); background-repeat: no-repeat}
    -->
  </style>

<style type="text/css">
    <!--
      .globalnav { 
			background-image: url("bionicle/images/und770x74us0glonav-bionicle.jpg");
			background-repeat: no-repeat;
		}
    -->
  </style>




</head>
<body bgcolor="#000000" background="" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" >
<table width="100%" border="0" cellpadding="0" cellspacing="0" ID="Table1">
	<tr>
		<td><!-- Global Nav Table -->
			<table class="globalnav" border="0" cellpadding="0" cellspacing="0" width="770" height="74" background="bionicle/images/und770x74us0glonav-bionicle.jpg" ID="Table2">
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="770" background="images/globalnavigation/pixel_trans_lg.gif" ID="Table3">
							<tr>
								<td colspan="6"><img src="images/globalnavigation/pixel_trans.gif" width="2" height="3" border="0"></td>
							</tr>
							<tr>
								<td rowspan="2" valign="middle"><img src="images/common/und001x001us0dot.gif" width="6" height="40" border="0"></td>
								<td rowspan="2" align="left" valign="top" width="43"><a href="javascript:void(0);" data-href="http://www.lego.com/"><img src="images/globalnavigation/topnav_logo.gif" alt="LEGO" border="0"></a></td>
								<td rowspan="2" valign="middle"><img src="images/common/und001x001us0dot.gif" width="2" height="40" border="0"></td>
								
									<td rowspan="2" valign="middle" align="left"><img name="brand" src="images/brands/blank.gif" border="0">&nbsp;</td>
								
								<td colspan="2" valign="bottom" align="right">
									<img src="images/globalnavigation/topnav_club.gif" width="69" height="8" border="0" usemap="#map_club">
										<map name="map_club">
											<area shape="rect" coords="0,0,57,8" alt="LEGO Club" href="javascript:void(0);" data-href="http://club.lego.com">
										</map>
									<img src="images/globalnavigation/topnav_shop.gif" width="40" height="8" border="0" usemap="#map_shop" />
										<map name="map_shop">
											<area shape="rect" coords="0,0,25,8" alt="LEGO Shop At Home" href="javascript:void(0);" data-href="http://shop.lego.com" />
										</map> 
									<img src="images/2057/nav/topnav_index_privacy_help.gif" border="0" usemap="#map_index_privacy_help" />
									<map name="map_index_privacy_help">
										<area shape="rect" coords="0,0,50,8" alt="Site Index" href="javascript:void(0);" data-href="http://www.lego.com/siteindex/" />
										<area shape="rect" coords="65,0,107,8" alt="Privacy" href="javascript:void(0);" data-href="http://www.lego.com/info/privacypolicy.asp" />
										<area shape="rect" coords="121,0,167,8" alt="Service" href="javascript:void(0);" data-href="http://www.lego.com/service/default.asp" />
									</map>
									<map name="map_index_privacy_help_german">
									 <area shape="rect" coords="0,0,95,8" alt="" href="javascript:void(0);" data-href="http://www.lego.com/siteindex/" />
									 <area shape="rect" coords="65,0,187,8" alt="" href="javascript:void(0);" data-href="http://www.lego.com/info/privacypolicy.asp" />
									 <area shape="rect" coords="121,0,240,8" alt="Service" href="javascript:void(0);" data-href="http://www.lego.com/service/default.asp" />
									</map>
								</td> 								
							</tr>
							<tr>
								<td align="right" colspan="2">
									<table border="0" cellpadding="0" cellspacing="0" ID="Table4">
										<tr>
											<form ACTION="javascript:void(0);" data-ACTION="http://search.lego.com/search/searchcontent.asp" METHOD="POST" onsubmit="if (this.q1.value == '') { alert('You need to enter a word or phrase to search for'); return false; }" id="form1" name="form1">
											<td valign="top" align="right">
												<select name="legofinder" class="topnav_legofinder" onchange="if (this.options[this.selectedIndex].value != '-') top.location.href = this.options[this.selectedIndex].value;" ID="Select1">
  												 
  												    <option value="-">LEGO Finder</option>
												 
												 <option value="-">-----------</option>
												 
			<option value="javascript:void(0);" data-value="http://www.lego.com/whatsnew/default.asp">What's New</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/themes.asp">LEGO Themes</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/technic.asp">LEGO TECHNIC</option>
	
			<option value="javascript:void(0);" data-value="http://mindstorms.lego.com">LEGO MINDSTORMS</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/smarttoys.asp">Smart Toys</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/girlsspecial.asp">Girls</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/duplo.asp">LEGO DUPLO</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/baby.asp">LEGO BABY</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/legoland.asp">LEGOLAND</option>
	
			<option value="-">-----------</option>
	
			<option value="javascript:void(0);" data-value="http://club.lego.com">LEGO Club</option>
	
			<option value="-">-----------</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/bulk/">Bulk Accessory Paks</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/mosaic/default.asp">Mosaic</option>
	
			<option value="javascript:void(0);" data-value="http://shop.lego.com/productinfo.asp?product_number=3723">Sculptures</option>
	
			<option value="-">-----------</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/lifestyle.asp">LEGO Lifestyle</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/bags/">LEGO Bags</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/inmotion/default.asp">LEGO InMotion</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/time/default.asp">LEGO Time</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/software/">LEGO Software</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/wear/">LEGO Wear</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legostores/">LEGO Stores</option>
	
			<option value="-">-----------</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/legofinder/events.asp">Events</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/dacta">Educators</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/play/default.asp">Parents</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/info/default.asp">About Us</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/myopinions">My Opinions</option>
	
			<option value="-">-----------</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/bionicle/">Bionicle</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/build/">Build</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/createnrace/">Create 'n' Race</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/racing/">Racing</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/studios/">LEGO Studios</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/mars/">Life on Mars</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/playjr/">Play Jr</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/games/">Games</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/football/">Soccer/Football</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/adventures/">Adventures</option>
	
			<option value="javascript:void(0);" data-value="http://www.lego.com/robotics/">Robotics Network</option>
	
												</select>&nbsp;</td>
												<td valign="middle" align="right"><img src="images/globalnavigation/topnav_vert_dots.gif" width="1" height="15" border="0">&nbsp;</td>
											<td valign="middle" align="right"><input type="text" name="q1" size="12" class="topnav_searchbox" ID="Text1"></td>
											<td valign="middle" width="75" align="right"><img src="images/globalnavigation/pixel_trans.gif" width="5" height="15" border="0"><input type="image" src="images/2057/nav/button_search_green.gif" width="70" height="15" border="0" id="image1" name="image1"></td>
											</form>
										</tr>
									</table>
								</td>
							</tr>
							<tr><td valign="middle"><img src="images/common/und001x001us0dot.gif" width="6" border="0"></td>
								<td colspan="5" valign="middle" nowrap="nowrap" align="left">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" ID="Table5">
										<tr>
											<td align="left" valign="middle" nowrap="nowrap"><font color="#FFFFFF"><a href="javascript:void(0);" data-href="http://www.lego.com/" style="color: #FFFFFF;text-decoration: none;">Home</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<font color="#FFFFFF"><a href="javascript:void(0);" data-href="http://www.lego.com/legofinder/technic.asp" style="color: #FFFFFF;text-decoration: none;">TECHNIC</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="javascript:void(0);" data-href="/bionicle/frontpage.asp" style="color: #FFFFFF;text-decoration: none;">Bionicle</a></td>
											<td align="right" valign="middle" nowrap="nowrap">
											<a href="javascript:void(0);" data-href="http://shop.lego.com/wishlist.asp"><img src="images/2057/buttons/button_wish_list.gif" width="17" height="17" alt="" border="0" /></a>
											<a href="javascript:void(0);" data-href="http://shop.lego.com/wishlist.asp"><img src="images/2057/nav/topnav_wish_list.gif" alt="" border="0" /></a>
											&nbsp;
											<a href="javascript:void(0);" data-href="http://shop.lego.com/Basket/Basket.asp"><img src="images/2057/buttons/button_shopping_cart.gif" width="17" height="17" alt="" border="0" /></a>
											<a href="javascript:void(0);" data-href="http://shop.lego.com/Basket/Basket.asp"><img src="images/2057/nav/topnav_shopping_cart.gif" alt="" border="0" /></a>
											&nbsp;
											<a href="javascript:void(0);" data-href="https://club.lego.com/sign_in_club.asp?target_page=/default.asp"><img src="images/globalnavigation/button_sign_in.gif" width="17" height="17" alt="Sign in" border="0" /></a>&nbsp;<a href="javascript:void(0);" data-href="https://club.lego.com/sign_in_club.asp?target_page=/default.asp"><img src="images/2057/nav/topnav_sign_in.gif" alt="Sign in" border="0" /></a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
    	</td>
		<td width="1"><img src="images/common/und001x001us0dot.gif" width="1" height="1" border="0"></td>
  	</tr>
</table>
<table width="770" border="0" cellpadding="0" cellspacing="0" ID="Table6">
  <tr>
    <td align="left">
     


<script>
 window.status=""
</script>



		</td>
  </tr>
</table>  



</body>
</html>
