<html lang="en-US">
<head>
<meta charset="utf-8">


<%- await include('shared/common'); %>



</head>
<body bgcolor="#000000" marginheight="0" marginwidth="0" topmargin=0 leftmargin=0>
<table border="0" cellpadding="0" cellspacing="0" width="800">
<tr>
	<td colspan="2">
	<table border="0" cellpadding="0" cellspacing="0" width="800">
		<tr valign="top">
			<td><a href="javascript:void(0);" data-href="default.html"><img src="bionicle/images/und188x39us0bionicle.gif" width="188" height="39" border="0" alt="Bionicle"></a></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" width="612">
				<tr bgcolor="#999999">
					<td valign="bottom"><a href="javascript:void(0);" data-href="toa-pohatu.html" onMouseOver="hideall();showobj(1);"><img src="bionicle/images/bnt74x21us0toa.gif" width="74" height="21" border="0" alt="TOA"></a><a href="javascript:void(0);" data-href="turaga-onewa.html" onMouseOver="hideall();showobj(2);"><img src="bionicle/images/bnt81x21us0turaga.gif" width="81" height="21" border="0" alt="TURAGA"></a><a href="javascript:void(0);" data-href="kanohi-great.html" onMouseOver="hideall();showobj(3);"><img src="bionicle/images/bnt83x21us0kanohi.gif" width="83" height="21" border="0" alt="KANOHI"></a><a href="javascript:void(0);" data-href="matanui.html" onMouseOver="hideall();showobj(4);"><img src="bionicle/images/bnt94x21us0matanui.gif" width="94" height="21" border="0" alt="MATANUI"></a><a href="javascript:void(0);" data-href="makuta.html" onMouseOver="hideall();showobj(5);"><img src="bionicle/images/bnt84x21us0makuta.gif" width="84" height="21" border="0" alt="MAKUTA"></a><img src="bionicle/images/und025x021us0graygradiant.gif" width="25" height="21" border="0"><a href="javascript:void(0);" data-href="software.html" onMouseOver="hideall();showobj(6);"><img src="bionicle/images/btn061x021us0software-off.gif" width="61" height="21" border="0"></a><a href="javascript:void(0);" data-href="buzz.html" onMouseOver="hideall();showobj(7);"><img src="bionicle/images/btn110x021us0buzz-off.gif" width="110" height="21" border="0" alt="The Buzz"></a></td>
				</tr>
				<tr bgcolor="#669933" valign="top">
					<td height="10">
					<!--Mask navigation-->
					<table border="0" cellpadding="0" cellspacing="0">
						<tr valign="middle">
							<td><img src="bionicle/images/und34x18us0greengradient.jpg" height="18" width="34"></td>
													</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
	</td>
</tr>
</table>
</body>
</html>
