<html lang="en-US">
<head>
<meta charset="utf-8">
<link REL="SHORTCUT ICON" HREF="favicon.ico">


<%- await include('shared/common'); %>


</head>
<body bgcolor="#FFFFFF">
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td><img src="bionicle/images/printhead183x41.gif" width="183" height="41" border="0"><br><br></td>
	</tr>
	<tr>
		<td><%- await include(`supportprint/${support}`); %></td>
	</tr>
</table>
</body>
</html>
