<html lang="en-US">
<head>
<meta charset="utf-8">


<%- await include('shared/redirect'); %>



</head>
<body bgcolor="#333333" marginheight="0" marginwidth="0" topmargin=0 leftmargin=0>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td colspan="2" bgcolor="#333333" valign="top">
		
<table border="0" cellpadding="0" cellspacing="0" width="800">
			<tr width="800">
				<td align="left" valign="middle">&nbsp;<a href="javascript:void(0);" data-href="/matanui/default.asp" target="_top"><img src="bionicle/images/bnt043x020us0mata-nui-bott.gif" width="43" height="20" border="0" Alt="Mata Nui"></a>
				&nbsp;<img src="bionicle/images/und03x20us0graysquare.gif" ALT>&nbsp;
				<a href="javascript:void(0);" data-href="http://www.bioniclemusic.com" target="_top"><img src="bionicle/images/bnt090x020us0bionmusic-bott.gif" width="90" height="20" border="0" ALT="Bioniclemusic.com"></a>
	
				<!--Press,Support,Contact-->	
				<img src="bionicle/images/und03x20us0graysquare.gif" ALT width="3" height="20">
				<a href="javascript:void(0);" data-href="/eng/bionicle/pressframe.asp" target="_top"><img src="bionicle/images/bnt030x020us0press-off.gif" width="30" height="20" border="0" ALT="Press"></a>
				<img src="bionicle/images/und03x20us0graysquare.gif" ALT width="3" height="20">
				<a href="<%= route.supportframe(support); %>" target="_top"><img src="bionicle/images/bnt040x020us0support-off.gif" width="40" height="20" border="0" ALT="Support"></a>
				<!--<img src="bionicle/images/und03x20us0graysquare.gif" ALT width="3" height="20">
				<a href="feedback.asp" target="_top"><img src="bionicle/images/bnt038x020us0contact-off.gif" width="38" height="20" border="0" ALT="Contact"></a>
				<!--END Press,Support,Contact--></td>
				



			
			</td>
					<td align="right" valign="middle"><a href="<%= route.supportframe(support); %>" target="_top"><img src="bionicle/images/bnt033x020us0english-bott.gif" border="0" width="33" height="20" ALT="English"></a>&nbsp;<img src="bionicle/images/und03x20us0graysquare.gif" ALT>&nbsp;<a href="javascript:void(0);" data-href="/deu/bionicle/supportframe.asp?WhichSupport=<%= support; %>" target="_top"><img src="bionicle/images/bnt038x020us0deutsch-bott.gif" border="0" width="38" height="20" ALT="Deutsch"></a>&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>	
</table>




		</td>
  </tr>
</table>  



</body>
</html>
