<font face="verdana, helvetica" size="2"><b>LEGO Bionicle CD-Rom (80mm) Mini and (120mm) Normal</b></font><br><br>
    		
			
			
			<font face="verdana, helvetica" size="1"><b>SYSTEM REQUIREMENTS AND COMPATIBLITY</b><br><br>
			
			<b>What are the minimum system requirements for LEGO Bionicle?</b><br>
			100% WINDOWS (R) 95/98/ Millennium DirectX (TM) 7 Compatible Computer required.<br>
			CPU: PENTIUM (R) MMX(TM) 166MHz or equivalent.<br>
			MEMORY: 32 MB RAM or higher required.<br>
			VIDEO: 4MB DirectX (TM) Compatible Video Card.<br>
			CD-ROM: 4X or faster CD-ROM/DVD drive required.<br>
			SOUND CARD: 100% WINDOWS (R) 95/98/ Millennium DirectX (TM) (DirectSound) compatible sound<br><br>

			<b>Will LEGO Bionicle work with Windows 2000, Windows NT, Macintosh, or Linux operating systems?</b><br>
			LEGO Bionicle has been tested and is supported on the Windows 95, Windows 98 & Windows Millennium platforms. We have not tested LEGO Bionicle on Windows 2000, Windows NT, Macintosh or Linux and therefore we are not able to provide technical support for these platforms.<br><br> 

			<b>My computer is just under the minimum system requirements should I try LEGO Bionicle anyway?</b><br>
			No. LEGO Bionicle minimum system requirements were tested extensively before the release of the product. We do not recommend the use of LEGO Bionicle software on a system below the minimum system requirements.<br><br> 

			<b>IDENTIFICATION</b><br><br>

			<b>What is the Difference between the small CD Rom (80mm) and the Normal CD Rom (120mm)?</b><br>
			There are many versions of the Bionicle CD. Depending how you received the CD is how to determine what is on it. All of the CDs have informational movies about Bionicle, and web links to other Bionicle sites. The regular size CDs are exactly the same unless the have Nestlé printed on the label. Theses CD-ROM's have a game and more information about Bionicle, plus LEGO Bionicle Screen Savers and Wallpaper. 
			<br><br>Both of the Promotional CDs are limited in stock and we regret that we cannot replace or exchange the CDs under any circumstance.<br><br>

			<b>NAVIGATION</b><br><br>
			
			
			<b>How do I get access to the full movies?</b><br>
			Enter the 3-digit code from the inside of your TOA Mask, using the arrows located on the first screen of the LEGO Bionicle Program.<br><br>

			<b>I can see the movies without entering the codes, what’s going on?</b><br>
			What you can see is just a compilation of all of the video clips. By entering the code you will be able to view the full feature video of the individual TOA.<br><br> 

			<b>LOADING</b><br><br>

			<b>I insert my LEGO Bionicle CD into my CD ROM drive and nothing happens, what do I do?</b><br>
			Your CD ROM drive might not be set to Autorun.<br> 
			Open windows explorer<br>
			Select your CD ROM drive letter, in most cases this will be D:<br>
			Double click on setup.exe. <br>
			This will start the LEGO Bionicle installation program.<br><br> 

			<b>My computer cannot read my LEGO Bionicle CD.</b><br>
			The CD-ROM drive reads the CD with an optical laser. If there are any dust particles, smudges or fingerprints on the silver side of the CD the CD-ROM drive may have difficulty reading the CD. This difficulty can result in error messages, lock ups and blue screens.<br><br> 
			To clean the CD, use warm soapy water and a soft cloth towel. Only wipe the CD from the inside out like the spokes on a wheel with a soft lint free cloth. Make sure the CD is completely dry before using it in the computer.<br><br>

			<b>Why do QuickTime and Direct X have to be installed?</b><br><br>
			In order to view the movies you have to have QuickTime. Many of the LEGO programs use the DirectX components to manage sound and video within the program. If you are experiencing choppy sound or broken or choppy video please review your settings with the DirectX diagnostics tool, you can see this under DIRECT X in <a href="<%= route.supportframe(4); %>" target="_top">General Troubleshooting</a>.<br><br>

			<b>I don’t have a tray on my CD- ROM drive; can I use the LEGO Bionicle Mini CD?</b><br>
			No, it is not recommended. LEGO Bionicle mini CD needs a support tray or caddy to run in this type of CD-Rom drive. If you are not sure what kind of CD Rom Drive you have, contact your computer manufacture to find out.<br><br>

			<b>Sometimes my LEGO Bionicle program freezes, what can I do?</b><br>
			First you should ensure that your computer meets the minimum specifications. Then ensure you have no other programs running in the background. Help on how to do this can be found in the section Close Programs in Background, which is found under <a href="<%= route.supportframe(4); %>" target="_top">General Troubleshooting</a>.
			<br><br>
			<b>When I put my LEGO Bionicle CD-ROM in the CD-ROM drive I get a message asking if I want to re-install or uninstall LEGO Bionicle. But I haven’t installed it yet.</b><br>
			You might have another version of LEGO Bionicle installed.  If you get more than one LEGO Bionicle promotional CD-ROM it is not necessary to re-install every one.  
			<br><br>
			<b>WEB ACESS</b><br><br>
			<b>What is the Web Code for on the side of the LEGO Bionicle can?</b><br>
			With the web code and the code from the inside of your mask you can gain access to extra features on the LEGO Bionicle website.<br><br>

			<b>My Web Code doesn’t work, I get this message; <i>"Incorrect codes! Make sure you have the matching codes from mask and can, and try again".</i></b><br>
			 Make sure you are on the TOA page that corresponds to the Mask. i.e., if you have the TOA TAHU, then you would want to be on the TOA TAHU page. 

		
		</font>